# Approach:2 - with R

In [23]:
#Loading the necessary libraries for data manipulation and analysis

library(dplyr)
library(readr)

######

In [24]:
# Reading the CSV file into a dataframe ‘hdf’

file_path <- 'C:/Users/Lenovo/Downloads/heart-disease.csv'
hdf <- read_csv(file_path)


# Displaying the first few rows of the dataframe

head(hdf)

Rows: 303 Columns: 14
── Column specification ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
dbl (14): age, sex, cp, trestbps, chol, fbs, restecg, thalach, exang, oldpea...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  age sex cp trestbps chol fbs restecg thalach exang oldpeak slope ca thal
1 63  1   3  145      233  1   0       150     0     2.3     0     0  1
2 37  1   2  130      250  0   1       187     0     3.5     0     0  2
3 41  0   1  130      204  0   0       172     0     1.4     2     0  2
4 56  1   1  120      236  0   1       178     0     0.8     2     0  2
5 57  0   0  120      354  0   1       163     1     0.6     2     0  2
6 57  1   0  140      192  0   1       148     0     0.4     1     0  1
  target
1 1
2 1
3 1
4 1
5 1
6 1

######

In [20]:
# Displaying the summary statistics for the column ‘cholesterol’ (In the csv file column name for cholesterol is 'chol')

cholesterol_summary <- summary(hdf$chol)
cholesterol_summary

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  126.0   211.0   240.0   246.3   274.5   564.0

######

In [21]:
# There are two things required to calculate Body Mass Index (BMI), a person's weight in Kilograms divided by the square of hight in meters. 
# So, Adding sample data for weight and height as these columns don't exist in the csv file

hdf <- hdf %>%
  mutate(weight = 70,  # Sample weight in kg
         height = 170)  # Sample height in cm


# And Creating a new column BMI

hdf <- hdf %>%
  mutate(BMI = weight / ((height / 100) ^ 2))


# Display the first few rows to check the new column

head(hdf)

  age sex cp trestbps chol fbs restecg thalach exang oldpeak slope ca thal
1 63  1   3  145      233  1   0       150     0     2.3     0     0  1
2 37  1   2  130      250  0   1       187     0     3.5     0     0  2
3 41  0   1  130      204  0   0       172     0     1.4     2     0  2
4 56  1   1  120      236  0   1       178     0     0.8     2     0  2
5 57  0   0  120      354  0   1       163     1     0.6     2     0  2
6 57  1   0  140      192  0   1       148     0     0.4     1     0  1
  target weight height BMI
1 1      70     170    24.22145
2 1      70     170    24.22145
3 1      70     170    24.22145
4 1      70     170    24.22145
5 1      70     170    24.22145
6 1      70     170    24.22145

In [22]:
# Displaying the summary statistics and the first few rows of the dataframe to confirm the changes

print("Summary Statistics for 'chol':")
print(cholesterol_summary)

print("\nDataFrame with the new 'BMI' column:")
head(hdf)

[1] "Summary Statistics for 'chol':"
   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  126.0   211.0   240.0   246.3   274.5   564.0
[1] "\nDataFrame with the new 'BMI' column:"

  age sex cp trestbps chol fbs restecg thalach exang oldpeak slope ca thal
1 63  1   3  145      233  1   0       150     0     2.3     0     0  1
2 37  1   2  130      250  0   1       187     0     3.5     0     0  2
3 41  0   1  130      204  0   0       172     0     1.4     2     0  2
4 56  1   1  120      236  0   1       178     0     0.8     2     0  2
5 57  0   0  120      354  0   1       163     1     0.6     2     0  2
6 57  1   0  140      192  0   1       148     0     0.4     1     0  1
  target weight height BMI
1 1      70     170    24.22145
2 1      70     170    24.22145
3 1      70     170    24.22145
4 1      70     170    24.22145
5 1      70     170    24.22145
6 1      70     170    24.22145

######

# Thank you!!